.lead{
    display: flex;
    flex-direction: column;
    padding: 0 148px 92px 148px;
}


@media screen and (max-width: 1024px){
    .lead{
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .lead{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 680px){
    .lead{
        padding-bottom: 64px;
    }
}