.footer__copyright{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    color: rgba(255, 255, 255, 1);
}




@media screen and (max-width: 320px) {
    .footer__copyright{
        margin-top: 48px;
    }
}