.intro__title{
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.05;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

@media screen and (max-width: 680px){
    .intro__title{
        font-size: 32px;
    }
}